body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    /* background-image: url("../assets/background_img1.avif"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-form {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #007bff;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #0056b3;
}

/* Responsive Design */
@media (max-width: 600px) {
    .login-form {
        padding: 20px;
        max-width: 90%;
    }

    .login-form h2 {
        font-size: 1.5rem;
    }

    .form-group input {
        padding: 8px;
    }

    .login-button {
        padding: 8px;
        font-size: 14px;
    }
}
